fastapi
uvicorn[standard]
python-dotenv
pydantic

python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
email-validator

python-multipart
aiofiles

motor

langgraph
langgraph-checkpoint
langchain
langchain-core
langchain-community
langchain-ollama
langchain-text-splitters
langchain-google-genai
faiss-cpu


pypdf
pymupdf
python-docx
python-pptx
unstructured

requests


langgraph-checkpoint-mongodb
pymongo

tavily-python